<form id="hidden-form" name="survey" method='POST' action="./results" style="display:none;">
	<input type="hidden" name="address[street]" value=""/>
	<input type="hidden" name="address[city]" value=""/>
	<input type="hidden" name="address[state]" value=""/>
	<input type="hidden" name="address[zip]" value=""/>

	<input type="hidden" name="age" value=""/>
	<input type="hidden" name="income" value=""/>
	<input type="hidden" name="attachement" value=""/>
	<input type="hidden" name="age" value=""/>
	<input type="checkbox" name="would-move" value=""/>

	<input type="hidden" name="loc1[city]" value=""/>
	<input type="hidden" name="loc1[state]" value=""/>
	<input type="hidden" name="loc1[zip]" value=""/>

	<input type="hidden" name="loc2[city]" value=""/>
	<input type="hidden" name="loc2[state]" value=""/>
	<input type="hidden" name="loc2[zip]" value=""/>

	<input type="hidden" name="loc3[city]" value=""/>
	<input type="hidden" name="loc3[state]" value=""/>
	<input type="hidden" name="loc3[zip]" value=""/>

</form>  