<div class="container container-location">
	<div class="input-wrapper-location">
		<img src="assets/images/housesimple-18.png" class='progress-bar'>
		<div class="question-block-location">
			<h3>What are your top three locations to move to?</h3>
			<a href='#'><p><em>See more at Zillow's Best Places to Retire</em></p></a>
			<h3>Location 1</h3>
			<input type="text" class="borderless-input pref-location-input" placeholder="Enter City, State or Zipcode Here..." value="Tampa, FL">
			<h3>Location 2</h3>
			<input type="text" class="borderless-input pref-location-input" placeholder="Enter City, State or Zipcode Here..." value="Issaquah, WA">
			<h3>Location 3</h3>
			<input type="text" class="borderless-input pref-location-input" placeholder="Enter City, State or Zipcode Here..." value="Palm Beach Gardens, FL">
		</div>
		<button class="back-button"><span>BACK</span></button>
		<button class="next-button"><span>NEXT</span></button>
	</div>
</div>
