<div class="container">
	<div class="input-wrapper">
		<img src="assets/images/housesimple-16.png" class='progress-bar'>
		<div class="question-block">
			<h3>How attached are you to your home?</h3>
			<input type="range" id="emotional" min="0" max="10">
			<ul>
				<li>0</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
			</ul>

		</div>
		<button class="back-button"><span>BACK</span></button>
		<button class="next-button" id='input-one-submit'><span>NEXT</span></button>
	</div>
</div>
