<div class="container">
	<div class="input-wrapper">
		<img src="assets/images/housesimple-17.png" class='progress-bar'>
		<div class="question-block radio">
			<h3>Would you consider moving out of your current neighborhood?</h3>
			<fieldset>
				<label>YES</label><input type="radio" name="move" value="yes" class="moveout-input" checked>
				<label>NO</label><input type="radio" name="move" value="no" class="moveout-input">
			</fieldset>
		</div>
		<button class="back-button"><span>BACK</span></button>
		<button class="next-button"><span>NEXT</span></button>
	</div>
</div>
