<div class="container-location">
	<div class="input-wrapper-location">
		<img src="assets/images/housesimple-18.png" class='progress-bar'>
		<div class="question-block-location">
			<h3>Location 1</h3>
			<input type="text" class="borderless-input" placeholder="Enter City, State or Zipcode Here...">
			<h3>Location 2</h3>
			<input type="text" class="borderless-input" placeholder="Enter City, State or Zipcode Here...">
			<h3>Location 3</h3>
			<input type="text" class="borderless-input" placeholder="Enter City, State or Zipcode Here...">
		</div>
		<button class="back-button"><span>BACK</span></button>
		<button class="next-button" id='input-one-submit'><span>NEXT</span></button>
	</div>
</div>
