<div class="container" style="display:block;">
	<div class="input-wrapper-summary">
		<img src="assets/images/housesimple-19.png" class='progress-bar'>
		<div class="results-block">
			<div class="results-container">
				<div class="results-header">
					<img src="assets/images/housesimple-24.png">
					<h1>Downsize</h1>
				</div>
				

				<div class="score-bar" data-score="75">
					<span class="res-downsize">DOWNSIZE</span>
					<span class="res-share">SHARE</span>
				</div>
				<div class="score-text">Based on your answers, <strong>75%</strong> of people in your situation would downsize to a smaller home.</div>
				<a href="#"><p style="text-align:center;">Breakdown of your score<p></a>
			</div>

			<h2 class="rec-header">Recommended Homes</h2>
			<div class="res-home-container"></div>
		</div>

	</div>
</div>
