<div class="container show">
	<div class="input-wrapper-summary">
		<img src="assets/images/housesimple-19.png" class='progress-bar'>
		<div class="results-block">
			<div class="results-container">
				<div class="results-header">
					<img src="assets/images/housesimple-24.png">
					<h1>Downsize</h1>
				</div>
				<p>Based on your answers, <strong>75%</strong> of people in your situation would downsize to a smaller home.</p>
				<a href="#"><p style="text-align:center;">Breakdown of your score<p></a>
			</div>
		</div>
		<h2>Recommended Homes</h2>
	</div>
</div>
