@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

html { 
	width:100%; 
	height:100%;
	font-family: 'Open Sans'
}

body {
	widows:100%; 
	height:100%; 
	margin:0;
}

header {
	position: absolute;
	width: 100%;
	height: 60px;
}

#nav-list-items {
	padding: 4px;
    list-style: none;
    float: right;
}

#nav-list-items li {
	float: left;
	margin: 0em 3em;
	color: #3fa9f5;
}

#logo {
	float: left;
	z-index: 9999;
	position: relative;
}

#logo img {
	margin-top: -20px;
	width: 165px;
}

#splash-wrapper {
	display: table;
	height: 650px;
	width: 100%;
	position: relative;
	background: url('assets/images/herobg.png') no-repeat;
	background-size: cover;
}

.container {
	padding-top: 60px;
	width: 100%;
}

.copy-wrapper {
	position: absolute;
	left: 50%;
	top: 40%;
	margin: -100px 0 0 -350px;
	width: 670px;
	background-color: #3fa9f5;
	opacity: 0.8;
	height: 70px;
	padding: 10px 0px 0px 20px;
	color: #ffffff;

}

.copy-wrapper h1 {
	margin: 0px;
	font-weight: 300;
	line-height: 35px;
}

.copy-wrapper p {
	margin: 0px;
	padding-top: 5px;
	font-weight: 700;
}

.searchbox {
	position: absolute;
	left: 50%;
	top: 58%;
	margin: -100px 0 0 -350px;
	width: 700px;
	opacity: 0.8;
}

.searchbox input {
	width: 74%;
	padding: 10px 10px 10px 25px;
	font-size: 16px;
	border-radius: 5px 0px 0px 5px;
	border: 2px solid white;

}

button {
	padding: 10px 15px;
	padding-bottom: 11px;
}

button > span {
	font-size: 18px;
}

button:focus {
	outline: none;
}

.action-button {
	background-color: #ff931e;
	border-radius: 0px 5px 5px 0px;
	border: none;
	width: 20%;
	margin-left: -10px;
	color: #ffffff;
}

input:focus {
	outline: none;
}

.input-wrapper {
	display: table;
	height: 650px;
	width: 100%;
	position: relative;
}

.input-wrapper-location {
	display: table;
	height: 950px;
	width: 100%;
	position: relative;
}

.input-wrapper-summary {
	display: table;
	height: 1750px;
	width: 100%;
	position: relative;
}

.next-button {
	background-color: #ff931e;
	border-radius: 50px;
	border: none;
	width: 120px;
	margin-left: -10px;
	position: absolute;
	top: 75%;
	left: 75%;
	color: #ffffff;
}

.back-button {
	border-radius: 50px;
	border: 2px solid #646a6d;
	width: 120px;
	margin-left: -10px;
	position: absolute;
	top: 75%;
	left: 15%;
	background-color: transparent;
	color: #646a6d;
}

h3 {
	font-weight: 300;
	font-size: 32px;
	margin-bottom: 10px;
}

.question-block {
	position: absolute;
	left: 50%;
	top: 38%;
	margin: -100px 0 0 -350px;
	width: 700px;
	opacity: 0.8;
}

.question-block-location {
	position: absolute;
	left: 50%;
	top: 25%;
	margin: -100px 0 0 -350px;
	width: 700px;
	opacity: 0.8;
}

.results-block {
	position: absolute;
	left: 50%;
	top: 20%;
	margin: -100px 0 0 -350px;
	width: 700px;
	border: 5px solid #D8D8D8;
	border-radius: 5px;
	height: 400px;
}

.results-container {
	width: 500px;
	margin: auto;
}


.results-container p {
	font-size: 24px;
	font-weight: 200;
}

.results-header {
	padding: 50px;
	width: 350px;
	margin: auto;
}

.results-header h1{
	color: #88D168;
	font-weight: 700;
	font-size: 50px;
	line-height: 32px;
}

.results-block img {
	width: 90px;
	float: left;
	margin-right: 20px;
}

.borderless-input {
	width: 100%;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	background-color: #dddddd;
}

.progress-bar {
	width: 400px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff931e;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#emotional {
	width: 100%;
}

.question-block ul{
	list-style: none;
	padding: 0px;
}

.question-block ul li {
	float: left;
	margin: 0px 30px 0px 30px;
}

.question-block ul li:last-child {
	margin-right: -12px;
	padding-left: 2px;
}

.question-block ul li:first-child {
	margin-left: 0px;
	padding: 0px;
}

input[type=radio] {
	zoom: 3.5;
	margin-right: 30px;
}

.question-block label {
	font-size: 36px;
	font-weight: 300;
	margin-right: 10px;
}

.radio {
	margin-left: auto;
	margin-right: auto;
	right: 0;
	left: 0;
	position: absolute;
}

.question-block fieldset {
	border: none;
	padding-left: 130px;

}

